.Nutrition {
  font-size: 24px;
  text-align: center;
}

.NutritionBanner {
  text-align: center;
  background-color: rgb(64, 143, 170);
  height: 150px;
  color: white;
  padding-top: 20px;
  font-size: 30px;
}
