.Sleep {
  font-size: 24px;
  text-align: center;
  height: 900px;
  background-image: linear-gradient(79deg, #f3f3d2, #f2d6f2 48%, #cce0f1);
}

.sleepBanner {
  text-align: center;
  background-color: rgb(181, 77, 93);
  height: 150px;
  color: white;
  padding-top: 20px;
  font-size: 30px;
}
