.Sleep {
  font-size: 24px;
  text-align: center;
}

.sleepBanner {
  text-align: center;
  background-color: rgb(181, 77, 93);
  height: 150px;
  color: white;
  padding-top: 20px;
  font-size: 30px;
}
