.Activity {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(79deg, #f3f3d2, #f2d6f2 48%, #cce0f1);
}

.excercise {
    background-color: teal;
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40%;
    margin-top: 40px;
    transition: transform 0.5s ease;
    font-size: 35px;
}

.excercise:hover {
    transform: scale(1.1);
}

.nutrition {
    background-color: teal;
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40%;
    margin-top: 40px;
    transition: transform 0.5s ease;
    font-size: 35px;
}

.nutrition:hover {
    transform: scale(1.1);
}

.Sleeps {
    background-color: teal;
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40%;
    margin-top: 40px;
    transition: transform 0.5s ease;
    font-size: 35px;
}

.Sleeps:hover {
    transform: scale(1.1);
}

.ActButton {
    padding: 20px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
  }

  .ActButton:hover {
    background-color: #45a049;
    cursor: pointer;
  }
  
  .difActivites {
    text-align: center;
    margin-top: 20px;
  }
